@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src:
    local('Proxima Nova Regular'),
    local('Proxima-Nova-Regular'),
    local('Proxima Nova'),
    local('Proxima-Nova'),
    url('../assets/fonts/Proxima_Nova/proxima_nova_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Proxima_Nova/proxima_nova_regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/Proxima_Nova/proxima_nova_regular-webfont.woff') format('woff'),
    url('../assets/fonts/Proxima_Nova/proxima_nova_regular-webfont.ttf') format('truetype'),
    url('../assets/fonts/Proxima_Nova/proxima_nova_regular-webfont.svg#proxima_nova_rgregular') format('svg');
}

@font-face {
  font-family: 'MyriadPro';
  font-style: normal;
  font-weight: 400;
  src:
    local('Myriad Pro Regular'),
    local('Myriad-Pro-Regular'),
    local('Myriad Pro'),
    local('Myriad-Pro'),
    url('../assets/fonts/MyriadPro_Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MyriadPro_Regular/MyriadPro-Regular.otf') format('opentype'),
    url('../assets/fonts/MyriadPro_Regular/MyriadPro-Regular.woff') format('woff'),
    url('../assets/fonts/MyriadPro_Regular/MyriadPro-Regular.ttf') format('truetype'),
    url('../assets/fonts/MyriadPro_Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

body {
  display: table;
  min-height: 100vh;
  min-width: 100%;
  box-sizing: border-box;
}

.all {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.logo,
.content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.logo.pic {
  width: 290px;
  margin-bottom: 20px;
}

.qr {
  margin-top: 100px;
  width: 80px;
}

.content {
  margin-left: 63px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-family: 'ProximaNova';
  font-size: 18px;
  line-height: 22px;
}

li:nth-child(2n) {
  color: #68B9D3;
}

.contacts {
  margin-top: 20px;
}

.e-mail, .phone {
  font-family: 'MyriadPro';
  font-size: 16px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 40%;
  padding: 10px;
  padding-left: 35px;
  display: inline-block;
}

.e-mail {
  background-image: url("../assets/pics/email.png");
}

.e-mail a {
  text-decoration: none;
  color: black;
}

.e-mail a:hover {
  text-decoration: underline;
}

.phone {
  background-image: url("../assets/pics/phone.png");
}

@media screen and (max-width: 662px) {
  .content {
    margin: 0;
    display: block;
    text-align: center;
  }
  
}